ul li {
    list-style: none;
    padding: 8px;
}

.index-servicios__columna1{
    background-color: #8a7049;
}

.index-servicios__columna2{
    background-color: #d9d9d9;
}

.index-servicios__pic{
    width: 100px;
    padding: 2px;
}