.btn{
    background-color: $colorOne;
    color: $lightWhite;
    width: 45%;
    font-size: 12px;
}

.nav-tabs{
    background-color: $colorOne;
    padding: 0;

    .nav__link{
        color: $lightWhite;
        font-size: 14px;
        padding: 0;
    }
}

