.feet{
    background-color: $colorOne;
    color: $lightWhite;

    .feet__subtitles{
        font-family: $fontParis;
        font-size: 20px;
    }

    ul li {
        list-style: none;
        display: inline-block;
        padding: 10px;
        color: black;
    }
}

.fa-brands{
   @extend %icons; 

    &:hover{
        background-color: $colorBtn;
    }
}

$redes: (
    facebook: #1877f2,
    instagram: #5F4BC6,
    whatsapp:rgb(18, 87, 18)
);

@each $redSocial, $colour in $redes{
    
    .fa-#{$redSocial} {
        background-color: $colour;
    }
}

