.banner__title{
    font-family: $fontParis;
    font-size: 50px;
}
.banner__subtitle{
    font-family: $fontParis;
    font-size: 25px;
}

.banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 65vh;

        &.banner-index{
            background-image: url(../img/banner2-removebg.png);
            background-color: #c0cbcd;
        }

        &.banner-sobre{
            background-image: url(../img/señoraVerde.jpg);
        }
}

