/*INDEX*/

@media only screen and (min-width: 1000px){
    .container{
        width: 1000px; 
        margin: auto;

        &.bienvenido{
            padding: 100px;
            height: 70vh;
        }
        .banner__title{
            font-size: 60px;
        }
        .subtitlesI{
            font-size: 50px;
        }
        .btn{
            width: 20%;
            font-size: 12px;
        }
    }

    .index-servicios__columna1{
        height: 90vh;
            .index-servicios__pic{
                width: 180px;
            }
    }
    
    .bubbles{
        height: 90vh;
        .subtitlesBubble{
            width: 350px;
            height: 350px;
        }
    }

    /*SERVICIO*/
    .servicio__M, .servicio__G{
            height: 100vh;
            font-size: 20px;
            padding: 100px;
        }
    .servicios__pic{
            width: 350px;
        }
    .servicio__texto, .catalogo__texto{
            font-size: 30px;
            height: 60vh;
        }
}

/*SOBRE MI*/

@media only screen and (max-width: 480px){
    .sobreMi{
        padding: 1.5rem;
            .inner{
                flex-direction: column;
                font-size: 15px;
                .inner__text{
                    padding-bottom: 0.5rem;
                }
            }
    }
}