*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $lightWhite;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: inherit;
}

button, p, ul li {
    font-family: $fontMont;
}