.subtitlesI{
    font-family: $fontParis;
    font-size: 35px;
}

.subtitlesN{
    font-family: $fontMont;
    font-size: 25px;
}

.subtitlesB{
    font-family: $fontMont;
    font-size: 40px;
    font-weight: 2;
}