@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Parisienne&display=swap");
.fa-brands {
  padding: 15px;
  color: #EEEAE6;
  border-radius: 100%;
  margin: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #EEEAE6;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

button, p, ul li {
  font-family: "Montserrat", sans-serif;
}

.subtitlesI {
  font-family: "Parisienne", cursive;
  font-size: 35px;
}

.subtitlesN {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
}

.subtitlesB {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 2;
}

.btn {
  background-color: #3E6163;
  color: #EEEAE6;
  width: 45%;
  font-size: 12px;
}

.nav-tabs {
  background-color: #3E6163;
  padding: 0;
}
.nav-tabs .nav__link {
  color: #EEEAE6;
  font-size: 14px;
  padding: 0;
}

.banner__title {
  font-family: "Parisienne", cursive;
  font-size: 50px;
}

.banner__subtitle {
  font-family: "Parisienne", cursive;
  font-size: 25px;
}

.banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
}
.banner.banner-index {
  background-image: url(../../img/banner2-removebg.png);
  background-color: #c0cbcd;
}
.banner.banner-sobre {
  background-image: url(../../img/señoraVerde.jpg);
}

.feet {
  background-color: #3E6163;
  color: #EEEAE6;
}
.feet .feet__subtitles {
  font-family: "Parisienne", cursive;
  font-size: 20px;
}
.feet ul li {
  list-style: none;
  display: inline-block;
  padding: 10px;
  color: black;
}

.fa-brands:hover {
  background-color: #2A2E3E;
  color: #3E6163;
}

.cr {
  color: #8b8a8a;
  font-size: 13px;
}

ul li {
  list-style: none;
  padding: 8px;
}

/*       INDEX         */
.bienvenido {
  background-color: #fff;
}

.index-servicios__columna1 {
  background-color: #8a7049;
}

.index-servicios__columna2, .index-catalogo {
  background-color: #d9d9d9;
}

.index-servicios__pic {
  width: 100px;
  padding: 2px;
}

.bubbles {
  background-image: url(../img/Bubbles.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 330px;
  overflow: hidden;
}
.bubbles .subtitlesBubble {
  font-family: "Parisienne", cursive;
  border-radius: 100%;
  background-color: #3E6163;
  width: 180px;
  height: 180px;
  color: #EEEAE6;
}

/*-------SERVICIOS Y CATALOGO Y CONTACT---------*/
.servicio__G, .catalogo__texto, .contacto__form {
  background-color: #d9d9d9;
}

.servicio__M {
  background-color: #8a7049;
  color: #EEEAE6;
}

.servicios__pic {
  width: 180px;
}

/*-------SOBRE MI---------*/
.sobreMi {
  padding-block: 30px;
}
.sobreMi .inner {
  display: flex;
  box-shadow: 13px 13px 30px #cccccc;
}
.sobreMi .inner.inner > div {
  flex: 1;
}
.sobreMi .inner .inner__pic img {
  max-width: 100%;
  padding: 1.5rem;
}
.sobreMi .inner .inner__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 3rem;
}
.sobreMi .inner .inner__text.inner__text p {
  font-size: 20px;
}

/*INDEX*/
@media only screen and (min-width: 1000px) {
  .container {
    width: 1000px;
    margin: auto;
  }
  .container.bienvenido {
    padding: 100px;
    height: 70vh;
  }
  .container .banner__title {
    font-size: 60px;
  }
  .container .subtitlesI {
    font-size: 50px;
  }
  .container .btn {
    width: 20%;
    font-size: 12px;
  }
  .index-servicios__columna1 {
    height: 90vh;
  }
  .index-servicios__columna1 .index-servicios__pic {
    width: 180px;
  }
  .bubbles {
    height: 90vh;
  }
  .bubbles .subtitlesBubble {
    width: 350px;
    height: 350px;
  }
  /*SERVICIO*/
  .servicio__MD, .servicio__E, .servicio__S {
    height: 100vh;
    font-size: 20px;
    padding: 100px;
  }
  .servicios__pic {
    width: 350px;
  }
  .servicio__texto, .catalogo__texto {
    height: 50vh;
    font-size: 30px;
  }
  /*CONTACTO*/
  .contacto__form {
    height: 87vh;
  }
}
/*SOBRE MI*/
@media only screen and (max-width: 480px) {
  .sobreMi {
    padding: 1.5rem;
  }
  .sobreMi .inner {
    flex-direction: column;
    font-size: 15px;
  }
  .sobreMi .inner .inner__text {
    padding-bottom: 0.5rem;
  }
}
.index-servicios__pic {
  transition: all 0.3s 0.3s;
  transition-property: all;
  transition-duration: 1;
  transition-timing-function: ease;
}
.index-servicios__pic:hover {
  width: 43%;
}

.producto {
  transition: all 0.3s;
}
.producto:hover {
  transform: scale(1.1);
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.jello-horizontal {
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
}

@-webkit-keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
h2::-moz-selection, p::-moz-selection, h1::-moz-selection, h3::-moz-selection, a::-moz-selection, img::-moz-selection, li::-moz-selection, ul::-moz-selection, label::-moz-selection, button::-moz-selection, input::-moz-selection, textarea::-moz-selection {
  background-color: #bbb7b7;
}
h2::selection, p::selection, h1::selection, h3::selection, a::selection, img::selection, li::selection, ul::selection, label::selection, button::selection, input::selection, textarea::selection {
  background-color: #bbb7b7;
}

.btn:hover {
  background-color: #2A2E3E;
  color: #d9d9d9;
}

.menu_item {
  -webkit-animation: roll-in-blurred-left 0.65s cubic-bezier(0.23, 1, 0.32, 1) both;
          animation: roll-in-blurred-left 0.65s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@-webkit-keyframes roll-in-blurred-left {
  0% {
    transform: translateX(-1000px) rotate(-720deg);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes roll-in-blurred-left {
  0% {
    transform: translateX(-1000px) rotate(-720deg);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    filter: blur(0);
    opacity: 1;
  }
}
.cartita:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.menu_item:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.menu_item:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.menu_item:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.menu_item:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.menu_item:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}/*# sourceMappingURL=style.css.map */